@model List<ECommerceWeb.Models.DiscountCoupon>

<body> 
    <h3>discount Coupon</h3>
    
    <table class="table table-bordered" cellpadding="2" cellspacing="2">
        <tr>
            <th>option</th>
            <th>Coupon Code</th>
            <th>Status</th>
            <th>Date</th>
            <th>Valli till</th>
            <th>Discount Price</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*<a asp-controller="DiscountCoupon" asp-action="DeleteCoupon" asp-route-id="@item.CouponId">*@
                    <button class="btn btn-success" onclick="return validateData('@item.CouponId');">Remove</button>@*</a>*@ /
                    <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal" onclick="GetDetails('@item.CouponId')">Edit</button>
                </td>
                <td>@item.CouponCode</td>
                <td>@item.Status</td>
                <td>@item.Date</td>
                <td>@item.Valid_Till</td>
                <td>@item.Discount</td>
            </tr>
        }
    </table>
    <br>
    <a asp-controller="DiscountCoupon" asp-action="DiscountCoupon"> </a>
       
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="" onclick="GetDetails(0)">Add Coupon</button>
   


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Coupon</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
                <div class="modal-body" id="CouponBody">
      </div>
    </div>
  </div>
</div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
</script>
<script src="@Url.Content("~/js/DiscountCoupon/DiscountCoupon.js")" type="text/javascript"></script>

