@model IQueryable<ECommerceWeb.Models.ViewModels.ProductViewModel>  
  
@{  
    ViewData["Title"] = "Home Page";  
}  
  
<h4 class="text-center text-uppercase">Products</h4>  
  
<p>  
    <a asp-action="ProductForm" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i> Add New</a>  
</p>  
<table class="table table-bordered">  
    <thead>  
        <tr><th>Name</th>   
            <th>Picture</th>
            <th>Price</th>  
            <th>Category Name</th>  
            <th>Stock</th>  
        </tr>  
    </thead>  
    <tbody>  
        @foreach (var product in Model)  
        {  
            <tr>
                <td>
                    @product.ProductName  
                </td>  

                <td>  
                    <img src="~/images/@product.ProductImage"   
                         class="rounded-circle"   
                         height="40" width="40"   
                         asp-append-version="true" /> 
                </td>
               
                <td>@product.Price</td>  
                <td>@product.ProductCategoryName</td> 
                <td>@if(product.InStock){
                        <div>Available</div>
                    }
                    else{
                        <div>Unavailable</div>
                    }
                    </td>  
                <td>
                    <a href="@Url.Action("GetProductInfo","Product", new { productId = @product.ProductId })">Edit </a> /
                    <a href="/Product/DeleteProduct?productId=@product.ProductId">Delete</a>
                </td>
            </tr>  
        }  
    </tbody>  
</table>   
