@model ECommerceWeb.Models.ProductModel;

<style>
    .pagination {
        display: inline-block;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border: 1px solid #4CAF50;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
<div class="container">
    <div class="row">
        @foreach (var product in Model.products)
        {
            <div class="col-sm-4 mt-3">
                <table>
                    <tr>
                        <td>
                            <img src="~/images/@product.ProductPicture"
                                 height="250" width="250"
                             asp-append-version="true" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @product.ProductName
                        </td>
                    </tr>
                    <tr>
                        <td>&#8377; @product.Price</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/Home/Details?productId=@product.ProductId">
                                <button type="button" class="btn btn-success"> Go to View </button>
                            </a>
                            <button class="btn btn-success" value="Add to Cart" onclick="AddToCart('@product.ProductId')">Add to cart</button>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
    <div class="pagination">
        @for (int i = 1; i <= Model.pagecount; i++)
        {
            @if (i != Model.PageNumber)
            {
                <a href="javascript:PagerClick(@i);">@i</a>
            }
            else
            {
                <a href="javascript:PagerClick(@i);" class="active">@i</a>
            }
        }

    </div>
</div>