@model ECommerceWeb.Models.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
             </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategoryName)
        </dt>
         <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCategoryName)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InStock)
        </dt>
         <dd class="col-sm-10">
             @if(Model.InStock == true){
               <div>Available</div>
            }else{
                <div>Unavailable</div>
            }
            
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPicture)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/images/@Model.ProductImage"   
                            
                         height="300" width="300"   
                         asp-append-version="true" />
        </dd>
    </dl>
</div>
<div>
     <button class="btn btn-success" value="Add to Cart" onclick="AddToCart('@Model.ProductId')"  >Add to cart</button>
   
</div>
