@model IEnumerable<ECommerceWeb.Models.Products>  
  
@{  
    ViewData["Title"] = "Home Page";  
}  
  
<h4 class="text-center text-uppercase">Products</h4>  
  
<table>  
  <td>
       
        @foreach (var product in Model)  
        { 
         
            <tr>
             <td>  
                    <img src="~/images/@product.ProductPicture"   
                            
                         height="300" width="300"   
                         asp-append-version="true" /> 
             </td>
            </tr>
            <tr>
               
                <th>@Html.DisplayNameFor(model => model.ProductName)</th>
                <td>
                    @product.ProductName  
                </td> 
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Price)</th> 
                <td>@product.Price</td> 
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ProductCategory)</th>
                <td>@product.ProductCategory.Name</td> 
            </tr>
            @*<tr>
                <th>@Html.DisplayNameFor(model => model.InStock)</th>
                <td>@product.InStock</td>  
            </tr>*@
            <tr>
                 <td>
                    <a href="/Home/Details?proid=@product.ProductId">Go to View</a>
                </td>
            </tr> 
      
        }  
        
    </td>
    
</table>   

